@page
@model AbbyWeb.Pages.Categories.IndexModel

<div class="container">
    <div class="row">
        <div class="col-6">
            <h5 class="text-primary">Category List</h5>
        </div>
        <div class="col-6">
            <a asp-page="Create" class="btn btn-primary">
                Create New Category
            </a>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered" style="width: 100%">
        <thead class="bg-info">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Display Order
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Categories)
            {
                <tr>
                    <td style="width: 50%">@obj.Name</td>
                    <td style="width: 50%">@obj.DisplayOrder</td>
                </tr>
            }
        </tbody>
    </table>
</div>
